.floor {
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    background-color: #09D100;
    border-radius: 5px;
    border: solid 2px #068A00;
}

.floor:hover {
    cursor: pointer;
    background-color: #33FF0F;
}